USE [NewTelefoneria]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarDatosEstadosCuenta]    Script Date: 6/10/2024 6:44:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ActualizarDatosEstadosCuenta]
    @inFechaOperacion AS DATE,
	@OutResultCode AS INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	SET @OutResultCode = 0;

    BEGIN TRY
        BEGIN TRANSACTION TActualizarDatosEstadoCuenta

        ------------------------------------ TOTAL MINUTOS IN ------------------------------------
        -- Actualizar TotalMinIN para el operador 1 con ID_TipoMinutos1 = 3 o ID_TipoMinutos2 = 3
		UPDATE ec
		SET 
			ec.TotalMinIN = ISNULL((
				SELECT SUM(dl.Duracion)
				FROM [dbo].[DetalleLlamadas] dl
				INNER JOIN [dbo].[Llamadas] l ON l.ID = dl.ID_Llamada
				WHERE (dl.ID_TipoMinutos1 = 3 OR dl.ID_TipoMinutos2 = 3)
				AND l.FechaHora_Inicio >= CASE 
											  WHEN ec.ID <= 2 THEN '2024-01-01' -- Primer día del año para los primeros dos estados de cuenta
											  ELSE DATEADD(DAY, 1, (
												  SELECT TOP 1 ec_anterior.FechaCorte
												  FROM [dbo].[EstadoCuentaOperador] ec_anterior
												  WHERE ec_anterior.ID_Operador = ec.ID_Operador
												  AND ec_anterior.ID < ec.ID 
												  ORDER BY ec_anterior.ID DESC
											  ))
										  END
				AND l.FechaHora_Inicio <= DATEADD(DAY, 1, ec.FechaCorte) -- Incluye el día de la fecha de corte actual
			), 0)
		FROM [dbo].[EstadoCuentaOperador] ec
		WHERE ec.ID_Operador = 1;

		-- Actualizar TotalMinIN para el operador 2 con ID_TipoMinutos1 = 4 o ID_TipoMinutos2 = 4
		UPDATE ec
		SET 
			ec.TotalMinIN = ISNULL((
				SELECT SUM(dl.Duracion)
				FROM [dbo].[DetalleLlamadas] dl
				INNER JOIN [dbo].[Llamadas] l ON l.ID = dl.ID_Llamada
				WHERE (dl.ID_TipoMinutos1 = 4 OR dl.ID_TipoMinutos2 = 4)
				AND l.FechaHora_Inicio >= CASE 
											  WHEN ec.ID <= 2 THEN '2024-01-01' -- Primer día del año para los primeros dos estados de cuenta
											  ELSE DATEADD(DAY, 1, (
												  SELECT TOP 1 ec_anterior.FechaCorte
												  FROM [dbo].[EstadoCuentaOperador] ec_anterior
												  WHERE ec_anterior.ID_Operador = ec.ID_Operador
												  AND ec_anterior.ID < ec.ID 
												  ORDER BY ec_anterior.ID DESC
											  ))
										  END
				AND l.FechaHora_Inicio <= DATEADD(DAY, 1, ec.FechaCorte) -- Incluye el día de la fecha de corte actual
			), 0)
		FROM [dbo].[EstadoCuentaOperador] ec
		WHERE ec.ID_Operador = 2;

		-- Actualizar TotalMinOUT para el operador 1 con ID_TipoMinuto = 3
		UPDATE ec
		SET 
			ec.TotalMinOUT = ISNULL((
				SELECT SUM(dlnl.Duracion)
				FROM [dbo].[DetalleLlamadaNoLocal] dlnl
				INNER JOIN [dbo].[Llamadas] l ON l.ID = dlnl.[ID_LlamadaNoLocal]
				WHERE dlnl.[ID_TipoMinuto] = 3
				AND l.FechaHora_Inicio >= CASE 
											  WHEN ec.ID <= 2 THEN '2024-01-01' -- Primer día del año para los primeros dos estados de cuenta
											  ELSE DATEADD(DAY, 1, (
												  SELECT TOP 1 ec_anterior.FechaCorte
												  FROM [dbo].[EstadoCuentaOperador] ec_anterior
												  WHERE ec_anterior.ID_Operador = ec.ID_Operador
												  AND ec_anterior.ID < ec.ID 
												  ORDER BY ec_anterior.ID DESC
											  ))
										  END
				AND l.FechaHora_Inicio <= DATEADD(DAY, 1, ec.FechaCorte) -- Incluye el día de la fecha de corte actual
			), 0)
		FROM [dbo].[EstadoCuentaOperador] ec
		WHERE ec.ID_Operador = 1;

		-- Actualizar TotalMinOUT para el operador 2 con ID_TipoMinuto = 4
		UPDATE ec
		SET 
			ec.TotalMinOUT = ISNULL((
				SELECT SUM(dlnl.Duracion)
				FROM [dbo].[DetalleLlamadaNoLocal] dlnl
				INNER JOIN [dbo].[Llamadas] l ON l.ID = dlnl.ID_LlamadaNoLocal
				WHERE dlnl.ID_TipoMinuto = 4
				AND l.FechaHora_Inicio >= CASE 
											  WHEN ec.ID <= 2 THEN '2024-01-01' -- Primer día del año para los primeros dos estados de cuenta
											  ELSE DATEADD(DAY, 1, (
												  SELECT TOP 1 ec_anterior.FechaCorte
												  FROM [dbo].[EstadoCuentaOperador] ec_anterior
												  WHERE ec_anterior.ID_Operador = ec.ID_Operador
												  AND ec_anterior.ID < ec.ID 
												  ORDER BY ec_anterior.ID DESC
											  ))
										  END
				AND l.FechaHora_Inicio <= DATEADD(DAY, 1, ec.FechaCorte) -- Incluye el día de la fecha de corte actual
			), 0)
		FROM [dbo].[EstadoCuentaOperador] ec
		WHERE ec.ID_Operador = 2;

        -------------------------------------------------------------------------------------------

        COMMIT TRANSACTION TActualizarDatosEstadoCuenta

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
			SET @OutResultCode = 50001; -- Error en ActualizarDatosEstadosCuenta
            ROLLBACK TRANSACTION
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH

    SET NOCOUNT OFF;
END
