USE [Telefoneria]
GO
/****** Object:  StoredProcedure [dbo].[AperturaCierreFacturas]    Script Date: 6/6/2024 12:26:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[AperturaCierreFacturas]
	@inFechaOperacion AS DATE
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION tAC_Fact
		--------------- Declaración de variables ---------------
		DECLARE @Fecha_Pago DATE;

		-------------- Inicializacion de variables ---------------
		SET @Fecha_Pago = DATEADD(MONTH, 1, @inFechaOperacion);

		--------------- Validación e Inserción de Facturas ---------------
        -- Insertar una nueva factura si la @inFechaOperacion es igual a alguna FechaPago de las facturas anteriores
        IF EXISTS (
            SELECT 1 
            FROM Facturas F 
            WHERE F.FechaPago = @inFechaOperacion
        )
        BEGIN
            -- Insertar la nueva factura relacionada al contrato correspondiente
            INSERT INTO [dbo].[Facturas](
                ID_Contrato,
                FechaEmision,
                FechaPago,
                TotalAPagar,
                Estado
            )
            SELECT
                C.Id AS ID_Contrato,
                @inFechaOperacion AS Fecha_Emision,
                @Fecha_Pago AS Fecha_Pago,
                0 AS TotalAPagar,            -- El total a pagar se actualiza conforme a los detalles
                0 AS Estado                  -- Inicializa la factura como PENDIENTE
            FROM Contrato C
            JOIN Facturas F ON F.ID_Contrato = C.Id
            WHERE F.FechaPago = @inFechaOperacion;

			-- Inserción de datos iniciales en detalle factura
			INSERT INTO [dbo].[DetalleFactura](
				  ID_Facturas
				, TotalPreIVA
				, TotalPostIVA
				, MultaPorAtraso
			)
			SELECT
				f.Id AS ID_Factura
				, 0
				, 0
				, 0
			FROM Facturas f
			WHERE f.FechaEmision = @inFechaOperacion
			AND NOT EXISTS (
				SELECT 1
				FROM DetalleFactura df
				WHERE df.ID_Facturas = f.Id
			);
        END
		
		-- Insertar las facturas basadas en los contratos con la fecha de operación actual
		INSERT INTO [dbo].[Facturas](
			ID_Contrato,
			FechaEmision,
			FechaPago,
			TotalAPagar,
			Estado
		)
		SELECT
			C.Id AS ID_Contrato,
			@inFechaOperacion AS Fecha_Emision,
			@Fecha_Pago AS Fecha_Pago,
			0 AS TotalAPagar,            -- El total a pagar se actualiza conforme a los detalles
			0 AS Estado                  -- Inicializa la factura como PENDIENTE
		FROM Contrato C
		WHERE C.Fecha = @inFechaOperacion;
		

		-- Inserción de datos iniciales en detalle factura
		INSERT INTO [dbo].[DetalleFactura](
			  ID_Facturas
			, TotalPreIVA
			, TotalPostIVA
			, MultaPorAtraso
		)
		SELECT
			f.Id AS ID_Factura
			, 0
			, 0
			, 0
		FROM Facturas f
		WHERE f.FechaEmision = @inFechaOperacion
        AND NOT EXISTS (
            SELECT 1
            FROM DetalleFactura df
            WHERE df.ID_Facturas = f.Id
        );
		-----------------------------------------------------------------
        COMMIT TRANSACTION tAC_Fact

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
        SELECT ERROR_MESSAGE() AS ErrorMessage
    END CATCH
END

