USE [Telefoneria]
GO
/****** Object:  StoredProcedure [dbo].[CargaSubDetalles]    Script Date: 6/6/2024 1:52:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CargaSubDetalles]
    @inFechaOperacion AS DATE
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION tCargaSubDetalles
        --------------- Declaración de variables ----------------
        DECLARE @Fecha_Pago DATE;

        -------------- Inicializacion de variables --------------
        SET @Fecha_Pago = DATEADD(MONTH, 1, @inFechaOperacion);

		---------- Inserción de nuevos registros ----------------
		-- DetalleUsoDatos
	  
		-- Actualizar filas existentes en DetalleUsoDatos
		--UPDATE du
		--SET 
		--	du.TotalQGigasBase = CASE 
		--							WHEN du.TotalQGigasBase + u.QGigas <= (
		--								SELECT ett.Valor
		--								FROM [dbo].[Contrato] c
		--								JOIN [dbo].[ElementoTipoTarifa] ett ON c.ID_TipoTarifa = ett.Id_TipoTarifa
		--								WHERE ett.ID_TipoElemento = 5 AND c.Id = f.ID_Contrato
		--							) THEN du.TotalQGigasBase + u.QGigas
		--							ELSE (
		--								SELECT ett.Valor
		--								FROM [dbo].[Contrato] c
		--								JOIN [dbo].[ElementoTipoTarifa] ett ON c.ID_TipoTarifa = ett.Id_TipoTarifa
		--								WHERE ett.ID_TipoElemento = 5 AND c.Id = f.ID_Contrato
		--							)
		--						 END,
		--	du.TotalQGigasAdicional = CASE 
		--								WHEN du.TotalQGigasBase + u.QGigas > (
		--									SELECT ett.Valor
		--									FROM [dbo].[Contrato] c
		--									JOIN [dbo].[ElementoTipoTarifa] ett ON c.ID_TipoTarifa = ett.Id_TipoTarifa
		--									WHERE ett.ID_TipoElemento = 5 AND c.Id = f.ID_Contrato
		--								) THEN du.TotalQGigasAdicional + (u.QGigas - (
		--									SELECT ett.Valor
		--									FROM [dbo].[Contrato] c
		--									JOIN [dbo].[ElementoTipoTarifa] ett ON c.ID_TipoTarifa = ett.Id_TipoTarifa
		--									WHERE ett.ID_TipoElemento = 5 AND c.Id = f.ID_Contrato
		--								) + du.TotalQGigasBase)
		--								ELSE du.TotalQGigasAdicional
		--							  END,
		--	du.TotalQGigas = CASE 
		--						WHEN du.TotalQGigasBase + u.QGigas <= (
		--							SELECT ett.Valor
		--							FROM [dbo].[Contrato] c
		--							JOIN [dbo].[ElementoTipoTarifa] ett ON c.ID_TipoTarifa = ett.Id_TipoTarifa
		--							WHERE ett.ID_TipoElemento = 5 AND c.Id = f.ID_Contrato
		--						) THEN du.TotalQGigasBase + u.QGigas + du.TotalQGigasAdicional
		--						ELSE (
		--							SELECT ett.Valor
		--							FROM [dbo].[Contrato] c
		--							JOIN [dbo].[ElementoTipoTarifa] ett ON c.ID_TipoTarifa = ett.Id_TipoTarifa
		--							WHERE ett.ID_TipoElemento = 5 AND c.Id = f.ID_Contrato
		--						) + du.TotalQGigasAdicional + (u.QGigas - (
		--							SELECT ett.Valor
		--							FROM [dbo].[Contrato] c
		--							JOIN [dbo].[ElementoTipoTarifa] ett ON c.ID_TipoTarifa = ett.Id_TipoTarifa
		--							WHERE ett.ID_TipoElemento = 5 AND c.Id = f.ID_Contrato
		--						) + du.TotalQGigasBase)
		--					 END
		--FROM 
		--	[dbo].[DetalleUsoDatos] du
		--JOIN 
		--	[dbo].[DetalleFactura] df ON du.ID_DetalleFactura = df.ID_Facturas
		--JOIN 
		--	[dbo].[Facturas] f ON df.ID_Facturas = f.Id
		--JOIN 
		--	[dbo].[Contrato] c ON f.ID_Contrato = c.Id
		--JOIN 
		--	[dbo].[UsoDatos] u ON c.Numero = u.Numero
		--WHERE 
		--	u.Fecha = @inFechaOperacion AND
		--	u.Numero = c.Numero AND
		--	u.Fecha >= f.FechaEmision AND 
		--	u.Fecha < f.FechaPago;

		---- Insertar nuevas filas en DetalleUsoDatos si no existen esto está 100% bien
		--INSERT INTO [dbo].[DetalleUsoDatos] (
		--	[ID_DetalleFactura],
		--	[TotalQGigasBase],
		--	[TotalQGigasAdicional],
		--	[TotalQGigas]
		--)
		--SELECT DISTINCT
		--	df.ID_Facturas AS ID_DetalleFactura,
		--	u.QGigas AS TotalQGigasBase,
		--	0 AS TotalQGigasAdicional,
		--	u.QGigas AS TotalQGigas
		--FROM 
		--	[dbo].[DetalleFactura] df
		--JOIN 
		--	[dbo].[Facturas] f ON df.ID_Facturas = f.Id
		--JOIN 
		--	[dbo].[Contrato] c ON f.ID_Contrato = c.Id
		--JOIN 
		--	[dbo].[UsoDatos] u ON c.Numero = u.Numero
		--WHERE u.Fecha >= f.FechaEmision 
		--  AND u.Fecha < f.FechaPago
		--  AND NOT EXISTS (
		--	  SELECT 1 
		--	  FROM [dbo].[DetalleUsoDatos] dud
		--	  WHERE dud.ID_DetalleFactura = df.ID_Facturas
		--  )

        -----------------------------------------------------------------
		-- Inserción en DetalleLlamadas
-- Declaración de la variable para la fecha de operación

-- Inserción en DetalleLlamadas
-- Inserción en DetalleLlamadas
INSERT INTO [dbo].[DetalleLlamadas] (
    [ID_DetalleFactura],
    [ID_Llamada],
    [ID_TipoMinutos1],
    [ID_TipoMinutos2],
    [Duracion]
)
SELECT 
    df.ID_Facturas AS ID_DetalleFactura,
    l.Id AS ID_Llamada,
    CASE 
        WHEN 
            CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM RelacionFamiliar rf
                    JOIN Contrato c2 ON rf.ID_Cliente1 = c2.ID_Cliente OR rf.ID_Cliente2 = c2.ID_Cliente
                    WHERE c2.Numero = l.NumeroA
                ) THEN 1
                ELSE 0
            END = 1 
        THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'MinutosFamiliar')
        WHEN CONVERT(time, l.FechaHora_Inicio) >= '23:00:00' OR CONVERT(time, l.FechaHora_Inicio) < '05:00:00' THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'MinutosNocturnos')
        WHEN LEN(l.NumeroA) = 8  AND LEFT(l.NumeroA, 1) = '8' THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'MinutosBase')
        WHEN LEN(l.NumeroA) = 8  AND LEFT(l.NumeroA, 1) = '7' THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'MinutosEmpresaX')
        WHEN LEN(l.NumeroA) = 8  AND LEFT(l.NumeroA, 1) = '6' THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'MinutosEmpresaY')
        WHEN LEN(l.NumeroA) = 11 AND LEFT(l.NumeroA, 1) = '8' THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'Minutos800')
        WHEN LEN(l.NumeroA) = 11 AND LEFT(l.NumeroA, 1) = '9' THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'Minutos900')
        WHEN LEN(l.NumeroA) = 3  AND LEFT(l.NumeroA, 1) = '9' THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'Minutos911')
        WHEN LEN(l.NumeroA) = 3  AND LEFT(l.NumeroA, 1) = '1' THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'Minutos110')
        ELSE 0
    END AS ID_TipoMinutos1,
    CASE
        WHEN 
            CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM RelacionFamiliar rf
                    JOIN Contrato c2 ON rf.ID_Cliente1 = c2.ID_Cliente OR rf.ID_Cliente2 = c2.ID_Cliente
                    WHERE c2.Numero = l.NumeroA
                ) THEN 1
                ELSE 0
            END = 1 AND (CONVERT(time, l.FechaHora_Inicio) >= '23:00:00' OR CONVERT(time, l.FechaHora_Inicio) < '05:00:00') 
        THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'MinutosNocturnos')
        WHEN 
            CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM RelacionFamiliar rf
                    JOIN Contrato c2 ON rf.ID_Cliente1 = c2.ID_Cliente OR rf.ID_Cliente2 = c2.ID_Cliente
                    WHERE c2.Numero = l.NumeroA
                ) THEN 0
                ELSE 1
            END = 1 AND (CONVERT(time, l.FechaHora_Inicio) >= '23:00:00' OR CONVERT(time, l.FechaHora_Inicio) < '05:00:00') 
        THEN 
            CASE
                WHEN LEN(l.NumeroA) = 8  AND LEFT(l.NumeroA, 1) = '8' THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'MinutosBase')
                WHEN LEN(l.NumeroA) = 8  AND LEFT(l.NumeroA, 1) = '7' THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'MinutosEmpresaX')
                WHEN LEN(l.NumeroA) = 8  AND LEFT(l.NumeroA, 1) = '6' THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'MinutosEmpresaY')
                WHEN LEN(l.NumeroA) = 11 AND LEFT(l.NumeroA, 1) = '8' THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'Minutos800')
                WHEN LEN(l.NumeroA) = 11 AND LEFT(l.NumeroA, 1) = '9' THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'Minutos900')
                WHEN LEN(l.NumeroA) = 3  AND LEFT(l.NumeroA, 1) = '9' THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'Minutos911')
                WHEN LEN(l.NumeroA) = 3  AND LEFT(l.NumeroA, 1) = '1' THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'Minutos110')
                ELSE NULL
            END
        WHEN 
            CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM RelacionFamiliar rf
                    JOIN Contrato c2 ON rf.ID_Cliente1 = c2.ID_Cliente OR rf.ID_Cliente2 = c2.ID_Cliente
                    WHERE c2.Numero = l.NumeroA
                ) THEN 1
                ELSE 0
            END = 1 AND (CONVERT(time, l.FechaHora_Inicio) < '23:00:00' AND CONVERT(time, l.FechaHora_Inicio) >= '05:00:00') AND LEN(l.NumeroA) = 8 AND LEFT(l.NumeroA, 1) = '8' 
        THEN (SELECT Id FROM [dbo].[TipoMinutos] WHERE TipoMinuto = 'MinutosBase')
        ELSE NULL
    END AS ID_TipoMinutos2,
    DATEDIFF(MINUTE, CONVERT(DATETIME, l.FechaHora_Inicio), CONVERT(DATETIME, l.FechaHora_Fin)) AS Duracion
FROM 
    [dbo].[DetalleFactura] df
JOIN 
    [dbo].[Facturas] f ON df.ID_Facturas = f.Id
JOIN 
    [dbo].[Contrato] c ON f.ID_Contrato = c.Id
JOIN 
    [dbo].[Llamadas] l ON c.Numero = l.NumeroDe
WHERE 
    CONVERT(DATE, l.FechaHora_Inicio) = @inFechaOperacion



	-------------------- DETALLE ELEMENTOS COBRO --------------------

	--INSERT INTO [dbo].[DetalleElementosCobro](
	--		[ID_DetalleFactura],
	--		[TarifaBasica],
	--		[QMinutosExceso],
	--		[QFamiliar]
	--	)
	--	SELECT 
	--		df.ID_Facturas AS ID_DetalleFactura,
	--		CASE 
	--			WHEN ett.ID_TipoTarifa IN (7, 8) THEN 0
	--			ELSE ett.Valor
	--		END AS TarifaBasica,
	--		0 AS QMinutosExceso,
	--		0 AS QFamiliar
	--	FROM 
	--		[dbo].[DetalleFactura] df
	--	JOIN 
	--		[dbo].[Facturas] f ON df.ID_Facturas = f.Id
	--	JOIN 
	--		[dbo].[Contrato] c ON f.ID_Contrato = c.Id 
	--	INNER JOIN 
	--		ElementoTipoTarifa ett ON ett.ID_TipoTarifa = c.ID_TipoTarifa 
	--								AND ett.ID_TipoElemento = 1 -- Tarifa base
	--	WHERE 
	--		NOT EXISTS (
	--			SELECT 1 
	--			FROM [dbo].[DetalleElementosCobro] dec
	--			WHERE dec.ID_DetalleFactura = df.ID_Facturas
	--		)

	--	UNION ALL

	--	SELECT 
	--		df.ID_Facturas AS ID_DetalleFactura,
	--		0 AS TarifaBasica,
	--		0 AS QMinutosExceso,
	--		0 AS QFamiliar
	--	FROM 
	--		[dbo].[DetalleFactura] df
	--	JOIN 
	--		[dbo].[Facturas] f ON df.ID_Facturas = f.Id
	--	JOIN 
	--		[dbo].[Contrato] c ON f.ID_Contrato = c.Id AND (c.ID_TipoTarifa = 7 OR c.ID_TipoTarifa = 8)
	--	WHERE 
	--		NOT EXISTS (
	--			SELECT 1 
	--			FROM [dbo].[DetalleElementosCobro] dec
	--			WHERE dec.ID_DetalleFactura = df.ID_Facturas
	--		);
		-------------------------------------------------------------------------------------------------
        COMMIT TRANSACTION tCargaSubDetalles

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
        SELECT ERROR_MESSAGE() AS ErrorMessage
    END CATCH
END
