USE [Proyecto2]
GO
/****** Object:  StoredProcedure [dbo].[InsertarFacturas]    Script Date: 5/23/2024 10:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[InsertarFacturas]
AS
BEGIN
BEGIN TRY
        BEGIN TRANSACTION tInsertarFacturas
			INSERT INTO Facturas (
			ID_Contrato
			, ID_DetallesElementosCobro
			, FechaEmision
			, FechaPago
			, TotalPREiva
			, TotalPOSTiva
			, TotalFacturado
			, MultaPorAtraso
			, TotalAPagar
			, Estado
			, CostoPorMinuto)
			SELECT
				c.Id,
				CAST(GETDATE() AS DATE),
				p.FechaPago,
				1  -- Estado 'Pagado' representado por 1 (BIT)
			FROM
				NuevoContrato c
			INNER JOIN
				PagoFactura p ON c.Numero = p.Numero
COMMIT TRANSACTION

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
        SELECT ERROR_MESSAGE() AS ErrorMessage
    END CATCH
END