USE [Proyecto2]
GO
/****** Object:  StoredProcedure [dbo].[SPXMLinsertarDatosMasivos]    Script Date: 6/2/2024 9:30:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Primero, definimos el procedimiento almacenado para insertar los datos desde el XML
ALTER PROCEDURE [dbo].[SPXMLinsertarDatosMasivos]
    @xml AS XML
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION tranInsertarDatosXML

        DECLARE @xQuery AS XML = (SELECT CAST(@xml AS XML))
		DECLARE @FechaActual DATE
        DECLARE @ContratoID INT
        DECLARE @UltimaFechaPago DATE
        DECLARE @NuevaFechaPago DATE
        DECLARE @IteraFechaPago DATE

        -- Obtener la fecha de operación del XML y asignarla a @FechaActual
        SELECT @FechaActual = fe.value('@fecha', 'DATE')
        FROM @xQuery.nodes('/Operaciones/FechaOperacion') AS FechaOperacion(fe)

  --      -----------------------------------------------------------------------
  --      ---- Insertar datos en la tabla ClienteNuevo
  --      INSERT INTO [dbo].[Clientes]
  --      (
  --        NumIdentificacion,
  --        Nombre
  --      )
  --      SELECT
  --        x.value('@Identificacion', 'INT'),
  --        x.value('@Nombre', 'VARCHAR(64)')
  --      FROM @xQuery.nodes('/Operaciones/FechaOperacion/ClienteNuevo') AS TempXML (x)

	 --    -----------------------------------------------------------------------
  --       --Insertar datos en la tabla RelacionFamiliar

		--INSERT INTO [dbo].[RelacionFamiliar]
		--(
		--  ID_Cliente1,
		--  ID_Cliente2,
		--  ID_TipoRelacionFamilair
		--)
		--SELECT
		--  c1.Id AS ID_Cliente1,
		--  c2.Id AS ID_Cliente2,
		--  x.value('@TipoRelacion', 'INT') AS ID_TipoRelacionFamiliar
		--FROM @xQuery.nodes('/Operaciones/FechaOperacion') AS FechaOperacion(fe)
		--CROSS APPLY fe.nodes('RelacionFamiliar') AS TempXML (x)
		--JOIN Clientes c1 ON c1.NumIdentificacion = x.value('@DocIdDe', 'INT')
		--JOIN Clientes c2 ON c2.NumIdentificacion = x.value('@DocIdA', 'INT');

  --      -------------------------------------------------------------------------
  --     -- Insertar datos en la tabla Contrato
  --      INSERT INTO [dbo].[Contrato]
  --      (
  --        ID_Cliente,
  --        Numero,
  --        ID_TipoTarifa,
  --        Fecha
  --      )
  --      SELECT
  --        c.Id,
  --        x.value('@Numero', 'VARCHAR(64)'),
  --        x.value('@TipoTarifa', 'INT'),
  --        fe.value('@fecha', 'DATE')  -- Usar la fecha del nodo actual
  --      FROM @xQuery.nodes('/Operaciones/FechaOperacion') AS FechaOperacion(fe)
  --      CROSS APPLY fe.nodes('NuevoContrato') AS TempXML (x)
  --      JOIN Clientes c ON c.NumIdentificacion = x.value('@DocIdCliente', 'INT')

        ---------------------------------------------------------------------
  --      -- Insertar datos en la tabla Llamadas
		--INSERT INTO [dbo].[Llamadas] (
		--	NumeroDe,
		--	NumeroA,
		--	Duracion,
		--	FechaHora_Inicio,
		--	FechaHora_Fin,
		--	EsGratis
		--)
		--SELECT
		--	x.value('@NumeroDe', 'VARCHAR(64)'),
		--	x.value('@NumeroA', 'VARCHAR(64)'),
		--	DATEDIFF(MINUTE, CONVERT(DATETIME, x.value('@Inicio', 'VARCHAR(64)')), CONVERT(DATETIME, x.value('@Final', 'VARCHAR(64)'))),
		--	CONVERT(DATETIME, x.value('@Inicio', 'VARCHAR(64)')),
		--	CONVERT(DATETIME, x.value('@Final', 'VARCHAR(64)')),
		--	CASE
		--		WHEN EXISTS (
		--			SELECT 1
		--			FROM RelacionFamiliar rf
		--			JOIN Contrato c ON rf.ID_Cliente1 = c.ID_Cliente OR rf.ID_Cliente2 = c.ID_Cliente
		--			WHERE c.Numero = x.value('@NumeroA', 'VARCHAR(64)')
		--		) THEN 1
		--		ELSE 0
		--	END AS EsGratis
		--FROM 
		--	@xQuery.nodes('/Operaciones/FechaOperacion') AS FechaOperacion(fe)
		--CROSS APPLY 
		--	fe.nodes('LlamadaTelefonica') AS TempXML (x)
		--LEFT JOIN 
		--	[dbo].[Llamadas] l ON l.NumeroDe = x.value('@NumeroDe', 'VARCHAR(64)')
		--					  AND l.NumeroA = x.value('@NumeroA', 'VARCHAR(64)')
		--					  AND l.FechaHora_Inicio = CONVERT(DATETIME, x.value('@Inicio', 'VARCHAR(64)'))
		--WHERE 
		--	l.Id IS NULL; -- Filtrar para insertar solo si no existe en Llamadas

        -------------------------------------------------------------------------

		------ F A C T U R A C I Ó N --
		INSERT INTO Facturas (
			ID_Contrato,
			FechaEmision,
			FechaPago,
			TotalPREiva,
			TotalPOSTiva,
			MultaPorAtraso,
			TotalAPagar,
			Estado,
			CostoXMinuto
		)
		SELECT DISTINCT
            c.Id AS ID_Contrato,
            c.Fecha AS FechaEmision, -- Fecha de emisión tomada desde la tabla de contratos
            DATEADD(MONTH, 1, c.Fecha) AS FechaPago, -- Fecha de pago es un mes después de la fecha de emisión
            0 AS TotalPREiva, 
            0 AS TotalPOSTiva, 
            0 AS MultaPorAtraso, 
            0 AS TotalAPagar, 
            0 AS Estado, 
            ISNULL(
                CASE 
                    WHEN LEFT(x.value('@Numero', 'VARCHAR(64)'), 3) = '800' THEN
                        (SELECT Valor FROM ElementoTipoTarifa WHERE ID_TipoElemento = 9)
                    WHEN LEFT(x.value('@Numero', 'VARCHAR(64)'), 3) = '900' THEN
                        (SELECT Valor FROM ElementoTipoTarifa WHERE ID_TipoElemento = 10)
                    ELSE
                        (SELECT Valor FROM ElementoTipoTarifa WHERE ID_TipoTarifa = c.ID_TipoTarifa AND ID_TipoElemento = 2)
                END,
            0) AS CostoXMinuto
        FROM @xQuery.nodes('/Operaciones/FechaOperacion') AS FechaOperacion(fe)
        CROSS APPLY fe.nodes('NuevoContrato') AS TempXML (x)
        INNER JOIN Contrato c ON c.Numero = x.value('@Numero', 'VARCHAR(64)')
  --      --INNER JOIN Llamadas L ON L.NumeroDe = x.value('@Numero', 'VARCHAR(64)') -- esto solo haría facturas de números que realizan llamadas

        -- Iterar sobre cada contrato del 1 al 571
        DECLARE @ContratoCursor CURSOR
        SET @ContratoCursor = CURSOR FOR
        SELECT DISTINCT ID
        FROM Contrato
        WHERE ID BETWEEN 1 AND 571;

        OPEN @ContratoCursor;
        FETCH NEXT FROM @ContratoCursor INTO @ContratoID;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Obtener la última fecha de pago de este contrato
            SELECT TOP 1 @UltimaFechaPago = FechaPago
            FROM Facturas
            WHERE ID_Contrato = @ContratoID
            ORDER BY FechaPago DESC;

            -- Si no hay facturas previas, establecer la última fecha de pago a una fecha inicial
            IF @UltimaFechaPago IS NULL
                SET @UltimaFechaPago = '2024-02-01';

            -- Iniciar el bucle mensual desde la última fecha de pago
            SET @NuevaFechaPago = DATEADD(MONTH, 1, @UltimaFechaPago);

            WHILE @NuevaFechaPago <= @FechaActual
            BEGIN
                -- Crear nueva factura para este contrato
                INSERT INTO Facturas (
                    ID_Contrato,
                    FechaEmision,
                    FechaPago,
                    TotalPREiva,
                    TotalPOSTiva,
                    MultaPorAtraso,
                    TotalAPagar,
                    Estado,
                    CostoXMinuto
                )
                SELECT
                    @ContratoID AS ID_Contrato,
                    @UltimaFechaPago AS FechaEmision,
                    @NuevaFechaPago AS FechaPago,
                    0 AS TotalPREiva,
                    0 AS TotalPOSTiva,
                    0 AS MultaPorAtraso,
                    0 AS TotalAPagar,
                    0 AS Estado,
                    ISNULL(
                        CASE
                            WHEN LEFT(c.Numero, 3) = '800' THEN
                                (SELECT Valor FROM ElementoTipoTarifa WHERE ID_TipoElemento = 9)
                            WHEN LEFT(c.Numero, 3) = '900' THEN
                                (SELECT Valor FROM ElementoTipoTarifa WHERE ID_TipoElemento = 10)
                            ELSE
                                (SELECT Valor FROM ElementoTipoTarifa WHERE ID_TipoTarifa = c.ID_TipoTarifa AND ID_TipoElemento = 2)
                        END,
                        0
                    ) AS CostoXMinuto
                FROM Contrato c
                WHERE c.ID = @ContratoID;

                -- Actualizar las fechas
                SET @UltimaFechaPago = @NuevaFechaPago;
                SET @NuevaFechaPago = DATEADD(MONTH, 1, @NuevaFechaPago);
            END;

            FETCH NEXT FROM @ContratoCursor INTO @ContratoID;
        END;

        CLOSE @ContratoCursor;
        DEALLOCATE @ContratoCursor;

      

		
		------------------------------------------------------
		--INSERT INTO DetalleFactura ( -- creo que id deberia ser pk fk
		--	ID_Facturas
		--	, Monto
		--)
		--SELECT
		--	f.Id AS ID_Factura
		--	, 0 -- NO SÉ QUÉ VA DENTRO DE MONTO
		--FROM Contrato
		--INNER JOIN Facturas f ON Contrato.Id = f.ID_Contrato

		-----------------------------------------------------------
		----Inserción en la tabla DetalleLlamada
		--INSERT INTO [dbo].[DetalleLlamada] (
		--	ID_DetalleFactura,
		--	ID_Llamada,
		--	Duracion -- Duracion está en DetalleLlamada y LLamada, hay que decidir donde dejarlo (yo digo que aquí mejor)
		--)
		--SELECT 
		--	df.ID_Facturas AS ID_DetalleFactura, -- Aseguramos que ID_DetalleFactura existe en DetalleFactura
		--	CASE
		--		-- Selección del ID_Llamada basado en el Numero de Contrato y FechaHora_Inicio de Llamadas
		--		WHEN EXISTS (
		--			SELECT 1
		--			FROM [dbo].[Llamadas] l
		--			JOIN [dbo].[Contrato] c ON l.NumeroDe = c.Numero
		--			WHERE c.Id = (SELECT ID_Contrato FROM [dbo].[Facturas] WHERE Id = df.ID_Facturas)
		--			  AND l.FechaHora_Inicio = (SELECT MAX(FechaHora_Inicio) FROM [dbo].[Llamadas] WHERE NumeroDe = c.Numero)
		--		) THEN (
		--			SELECT TOP 1 l.Id
		--			FROM [dbo].[Llamadas] l
		--			JOIN [dbo].[Contrato] c ON l.NumeroDe = c.Numero
		--			WHERE c.Id = (SELECT ID_Contrato FROM [dbo].[Facturas] WHERE Id = df.ID_Facturas)
		--			  AND l.FechaHora_Inicio = (SELECT MAX(FechaHora_Inicio) FROM [dbo].[Llamadas] WHERE NumeroDe = c.Numero)
		--		)
		--		ELSE NULL
		--	END AS ID_Llamada,
		--	0 AS QMinutos      -- Inicialmente 0, puedes actualizarlo posteriormente
		--FROM 
		--	[dbo].[DetalleFactura] df; -- Aseguramos que todos los IDs de DetalleFactura están presentes


		-------------------------------------------------------
		---- Inserción en la tabla UsoDatos
		--INSERT INTO [dbo].[UsoDatos] (
		--	Fecha,
		--	Numero,
		--	QGigas
		--)
		--SELECT 
		--	fe.value('@fecha', 'DATE') AS Fecha,
		--	x.value('@Numero', 'VARCHAR(64)') AS Numero,
		--	x.value('@QGigas', 'FLOAT') AS QGigas
		--	FROM 
		--		@xQuery.nodes('/Operaciones/FechaOperacion') AS FechaOperacion(fe)
		--		CROSS APPLY fe.nodes('UsoDatos') AS TempXML (x)
		
		------ Inserción en la tabla DetalleUsoDatos
		--INSERT INTO [dbo].[DetalleUsoDatos]	(
		--	ID_DetalleFactura,
		--	ID_UsoDatos,
		--	QGigas
		--)
		--SELECT
		--	df.ID_Facturas AS ID_DetalleFactura,
		--	ud.ID AS ID_UsoDatos,
		--	ud.QGigas AS QGigas
		--FROM
		--	Contrato c
		--	INNER JOIN Facturas f ON f.ID_Contrato = c.Id
		--	INNER JOIN DetalleFactura df ON df.ID_Facturas = f.Id
		--	INNER JOIN UsoDatos ud ON ud.Numero = c.Numero

		-- inserta los 716 datos no repetidos
		--INSERT INTO [dbo].[DetalleUsoDatos] (
		--	ID_DetalleFactura,
		--	ID_UsoDatos,
		--	QGigas
		--)
		--SELECT 
		--	ID_DetalleFactura,
		--	ID_UsoDatos,
		--	QGigas
		--FROM (
		--	SELECT 
		--		df.ID_Facturas AS ID_DetalleFactura,
		--		ud.ID AS ID_UsoDatos,
		--		0 AS QGigas, -- imagino que luego se haría una sumatoria de las qgigas
		--		ROW_NUMBER() OVER (PARTITION BY df.ID_Facturas ORDER BY (SELECT NULL)) AS rn
		--	FROM 
		--		Contrato c
		--		INNER JOIN Facturas f ON f.ID_Contrato = c.Id
		--		INNER JOIN DetalleFactura df ON df.ID_Facturas = f.Id
		--		INNER JOIN UsoDatos ud ON ud.Numero = c.Numero
		--) AS Subquery
		--WHERE rn = 1
		--AND NOT EXISTS (
		--	SELECT 1 
		--	FROM [dbo].[DetalleUsoDatos] d
		--	WHERE d.ID_DetalleFactura = Subquery.ID_DetalleFactura 
		--	AND d.ID_UsoDatos = Subquery.ID_UsoDatos
		--);

		--------------------------------------------------------

        COMMIT TRANSACTION tranInsertarDatosXML

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
        SELECT ERROR_MESSAGE() AS ErrorMessage
    END CATCH
END
