USE [Proyecto2]
GO
/****** Object:  StoredProcedure [dbo].[SPXMLinsertarDatos]    Script Date: 5/23/2024 10:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Primero, definimos el procedimiento almacenado para insertar los datos desde el XML
ALTER PROCEDURE [dbo].[SPXMLinsertarDatos]
    @xml AS XML
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION tranInsertarDatosXML

        DECLARE @xQuery AS XML = (SELECT CAST(@xml AS XML))

        ---------------------------------------------------------------------------
        ---- Insertar datos en la tabla TipoTarifa
        --INSERT INTO [dbo].[TipoTarifa]
        --(
        --  Id,
        --  Nombre
        --)
        --SELECT
        --  x.value('@Id', 'INT'),
        --  x.value('@Nombre', 'VARCHAR(64)')
        --FROM @xQuery.nodes('/Data/TiposTarifa/TipoTarifa') AS TempXML (x)
        
        ---------------------------------------------------------------------------
        ---- Insertar datos en la tabla TipoElemento
        --INSERT INTO [dbo].[TipoElemento]
        --(
        --  Id,
        --  Nombre
        --)
        --SELECT
        --  x.value('@Id', 'INT'),
        --  x.value('@Nombre', 'VARCHAR(64)')
        --FROM @xQuery.nodes('/Data/TiposElemento/TipoElemento') AS TempXML (x)
        
        ---------------------------------------------------------------------------
        ---- Insertar datos en la tabla TipoUnidad
        --INSERT INTO [dbo].[TipoUnidad]
        --(
        --  Id,
        --  Nombre
        --)
        --SELECT
        --  x.value('@Id', 'INT'),
        --  x.value('@Tipo', 'VARCHAR(64)')
        --FROM @xQuery.nodes('/Data/TiposUnidades/TipoUnidad') AS TempXML (x)
        
        ---------------------------------------------------------------------------
        -- Insertar datos en la tabla ElementoDeTipoTarifa
        INSERT INTO [dbo].[ElementoDeTipoTarifa]
        (
          idTipoTarifa,
          IdTipoElemento,
          Valor,
          IdTipoUnidad
        )
        SELECT
          x.value('@idTipoTarifa', 'INT'),
          x.value('@IdTipoElemento', 'INT'),
          x.value('@Valor', 'INT'),
          x.value('@IdTipoUnidad', 'INT')
        FROM @xQuery.nodes('/Data/ElementosDeTipoTarifa/ElementoDeTipoTarifa') AS TempXML (x)
        
        ---------------------------------------------------------------------------
        ---- Insertar datos en la tabla TipoRelacionFamiliar
        --INSERT INTO [dbo].[TipoRelacionFamiliar]
        --(
        --  Id,
        --  Nombre
        --)
        --SELECT
        --  x.value('@Id', 'INT'),
        --  x.value('@Nombre', 'VARCHAR(64)')
        --FROM @xQuery.nodes('/Data/TipoRelacionesFamiliar/TipoRelacionFamiliar') AS TempXML (x)
        
        ---------------------------------------------------------------------------
		 -- Insertar datos en la tabla ElementoFijo
        INSERT INTO [dbo].[ElementoFijo]
        (
          Id,
          Nombre,
          Valor,
          IdTipoUnidad
        )
        SELECT
          x.value('@Id', 'INT'),
          x.value('@Nombre', 'VARCHAR(64)'),
          x.value('@Valor', 'INT'),
          x.value('@IdTipoUnidad', 'INT')
        FROM @xQuery.nodes('/Data/ElementosFijos/ElementoFijo') AS TempXML (x)

        ---------------------------------------------------------------------------

        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
        SELECT ERROR_MESSAGE() AS ErrorMessage
    END CATCH
END